<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    别名-->
    <typeAliases>

        <package name="com.zarek.mybatis.domain"/>
        <package name="com.zarek.transactionspring.domain"/>
    </typeAliases>

<!--    sql映射文件的位置-->
    <mappers>

        <package name="com.zarek.mybatis.dao"/>
        <package name="com.zarek.transactionspring.dao"/>

    </mappers>

</configuration>